* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inherit;
}

body {
    background-image: url("background.jpg");
    background-repeat: repeat;
    font-family: "Fredoka", sans-serif;
}

html {
    font-size: 62.5%;

}

.container {
    min-height: 100vh;
    font-size: 2rem;
    text-align: center;
    padding: auto;
    margin: 2.5%;
}

.game {
    background-color: #eff1f2;
    width: 50%;
    min-height: 90vh;
    padding: 1rem;
    margin: 5rem auto;
    border: 5px solid #967E76;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 2%;
    text-align: center;
    font-size: 6rem;
    color: #967E76;
}

p {
    padding: 0.5%;
    font-size: 2.5rem;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 1rem;
}

button:hover {
    background-color: #EEE3CB;
}

.difficulty-button.chosen-difficulty {
    background-color: #EEE3CB;
    border: 0.2rem solid #D7C0AE;
    cursor: not-allowed;
}

.difficulty-button.chosen-difficulty:disabled {
    color: black;
}

.difficulty-button.chosen-difficulty:disabled:hover {
    background-color: #EEE3CB;
}

button:disabled {
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #e4e6e7;
}

.difficulty {
    padding: 1.5rem;
}

.categories {
    display: none;
    padding: 1.5rem;
}

.category-button.chosen-category {
    background-color: #EEE3CB;
    border: 0.2rem solid #D7C0AE;
    cursor: not-allowed;
}

.category-button.chosen-category:disabled {
    color: black;
}

.category-button.chosen-category:disabled:hover {
    background-color: #EEE3CB;
}
.chosen-info{
    display: flex;
    justify-content: center;
}
#chosen-difficulty-text, 
#chosen-category-text {
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    background-color: #D7C0AE;
    border-radius: 0.5rem;
    display: none;

}
.word {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.word .letter {
    color: rgb(4, 129, 4);
    font-weight: 500;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 80%;
}

.letter {
    background-color: #cdd3d8;
    color: black;
    width: 5rem;
    height: 5rem;
    line-height: 4rem;
    border: 1px solid #D7C0AE;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

.letter.correct:disabled {
    background-color: rgb(196, 219, 162);
}

.letter.wrong:disabled {
    background-color: rgb(232, 167, 167);
}

.result {
    font-size: 3rem;
    margin: 1rem 0.5rem;
}

.win {
    color: green;
}

.lose {
    color: red;
}

.hangman {
    position: relative;
    width: 21rem;
    height: 25rem;
    margin: 2rem auto;
}

.stand-bottom {
    position: absolute;
    bottom: 0;
    width: 8rem;
    height: 0.5rem;
    border-radius: 60%;
    background-color: black;

}

.rod-vertical {
    position: absolute;
    left: 3.75rem;
    bottom: 0;
    width: 0.5rem;
    height: 25rem;
    border-radius: 25%;
    background-color: black;
}

.rod-horizontal {
    position: absolute;
    left: 3rem;
    bottom: 24rem;
    width: 15rem;
    height: 0.45rem;
    border-radius: 40%;
    background-color: black;
}

.rope {
    position: absolute;
    top: 0;
    left: 17rem;
    width: 0.4rem;
    height: 4rem;
    border-radius: 70%;
    background-color: black;
}

.head {
    position: absolute;
    top: 3.5rem;
    left: 15.75rem;
    width: 3rem;
    height: 3rem;
    border: 0.4rem solid black;
    border-radius: 100%;
    display: none;
}

.hisBody {
    position: absolute;
    top: 6.5rem;
    left: 17rem;
    width: 0.4rem;
    height: 6rem;
    border-radius: 30%;
    background-color: black;
    display: none;
}

.arm {
    position: absolute;
    top: 6.5rem;
    width: 0.4rem;
    height: 5rem;
    border-radius: 50%;
    background-color: black;
    display: none;
}

.arm.left,
.leg.left {
    left: 18.75rem;
    transform: rotate(135deg);
}

.arm.right,
.leg.right {
    left: 15.25rem;
    transform: rotate(-135deg);
}

.leg {
    position: absolute;
    top: 11.5rem;
    width: 0.4rem;
    height: 5rem;
    border-radius: 50%;
    background-color: black;
    display: none;
}

.show {
    display: block;
}

.retry {
    width: 10%;
    align-self: flex-end;
    margin-right: 2rem;
}

.retry img {
    width: 100%;
}

.retry button {
    border: none;
    border-radius: 100%;
    padding: 0;
}

/* 
color palette
#cdd3d8
#B7C4CF
#EEE3CB
#D7C0AE
#967E76
*/