* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inherit;
}

body {
    background-image: url("./Assets/background.jpg");
    background-repeat: repeat;
    font-family: "Fredoka", sans-serif;
}

html {
    font-size: 62.5%;

}

.container {
    min-height: 100vh;
    font-size: 2rem;
    text-align: center;
    padding: auto;
    margin: 2.5%;
}

.game {
    background-color: #eff1f2;
    width: 60%;
    min-height: 90vh;
    padding: 1rem;
    margin: 5rem auto;
    border: 5px solid #967E76;
    border-radius: 5rem;
}

h1 {
    margin: 2%;
    text-align: center;
    font-size: 7rem;
    color: #967E76;
}

p {
    padding: 0.5%;
    font-size: 3rem;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 1rem;
}

button:hover {
    background-color: #EEE3CB;
}

button:disabled {
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #e4e6e7;
}

.difficulty {
    padding: 1.5rem;
}

.categories {
    display: none;
    padding: 1.5rem;
}

.chosen-info {
    display: flex;
    justify-content: center;
}

#chosen-difficulty-text,
#chosen-category-text {
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    background-color: #D7C0AE;
    border-radius: 0.5rem;
    display: none;
    font-size: 3rem;

}

.word {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.word .letter.correctGuess {
    color: rgb(4, 129, 4);
    font-weight: 500;
    background-color: rgb(220, 237, 194);
}

.word .letter.reveal {
    color: rgb(77, 1, 1);
    font-weight: 500;
    background-color: rgb(237, 206, 206);
}

.word .letter.hint {
    color: rgb(77, 1, 1);
    font-weight: 500;
    background-color: rgb(250, 245, 159);
}

.letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
    width: 70%;
}

.letter {
    background-color: #cdd3d8;
    color: black;
    width: 5rem;
    height: 5rem;
    line-height: 4rem;
    border: 1px solid #D7C0AE;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

.letter.correct:disabled {
    background-color: rgb(196, 219, 162);
}

.letter.wrong:disabled {
    background-color: rgb(232, 167, 167);
}

.result {
    font-size: 3rem;
    margin: 1rem 0.5rem;
}

.win {
    color: green;
}

.lose {
    color: red;
}

.hangman {
    position: relative;
    width: 27.5rem;
    height: 25rem;
    margin: 2rem auto;
}

.stand-bottom {
    position: absolute;
    bottom: 0;
    width: 8rem;
    height: 0.7rem;
    border-radius: 60%;
    background-color: #5b443f;

}

.rod-vertical {
    position: absolute;
    left: 3.5rem;
    bottom: 0;
    width: 1rem;
    height: 25rem;
    border-radius: 25%;
    background-color: #5b443f;
}

.rod-horizontal {
    position: absolute;
    left: 3rem;
    bottom: 24rem;
    width: 22rem;
    height: 0.7rem;
    border-radius: 40%;
    background-color: #5b443f;
}

.rod-diagonal {
    position: absolute;
    left: 1.75rem;
    top: 1.75rem;
    width: 7rem;
    height: 0.7rem;
    border-radius: 40%;
    transform: rotate(-45deg);
    background-color: #5b443f;
}

.rope {
    position: absolute;
    top: 0.75rem;
    left: 21rem;
    background-image: url("./Assets/rope.png");
    width: 6rem;
    height: 8rem;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

.head {
    position: absolute;
    left: 21.85rem;
    background-color: #eff1f2;
    width: 4rem;
    height: 3.5rem;
    top: 4rem;
    border-radius: 100%;
    z-index: 2;
    display: none;
}

.head::before {
    transform: translateY(-0.7rem);
    font-family: "Material Symbols Outlined";
    content: '\e7f3';
    font-size: 4rem;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    color: black;
    display: block;

}

.hisBody {
    position: absolute;
    top: 7.3rem;
    left: 22rem;
    width: 3.6rem;
    height: 5.5rem;
    border-radius: 2rem 2rem 1rem 1rem;
    border: 0.32rem solid black;
    background-color: #eff1f2;
    z-index: 3;
    display: none;
}

.arm {
    position: absolute;
    top: 7.75rem;
    width: 1rem;
    height: 4rem;
    border: 0.32rem solid black;
    border-radius: 0.6rem 0.6rem 0.3rem 0.3rem;
    z-index: 2;
    display: none;
}

.arm.right {
    left: 21.1rem;
    transform: rotate(-135deg);
}

.arm.left {
    left: 25.65rem;
    transform: rotate(135deg);
}

.leg {
    position: absolute;
    top: 12rem;
    width: 1rem;
    height: 4.5rem;
    border: 0.32rem solid black;
    border-radius: 0.6rem 0.6rem 0.3rem 0.3rem;
    z-index: 2;
    display: none;
}

.leg.right {
    left: 22.5rem;
    transform: rotate(-180deg);
}

.leg.left {
    left: 24rem;
    transform: rotate(180deg);
    z-index: 2;
}

.show {
    display: block;
}

.hintAndRetry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hintAndRetry div {
    width: 10%;
    margin: 2rem;
}

.hintAndRetry button {
    width: 100%;
    margin: 2rem 0.5rem;
    border: none;
    border-radius: 100%;
    padding: 0;
}

.hintAndRetry button img {
    width: 100%;
}

#numberOfHints {
    margin-right: auto;
    width: 30%;
    align-content: center;
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal.show {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-content {
    background-color: #eff1f2;
    padding: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    width: 30%;
    min-width: 80vh;
}

.modal-content.win {
    border: 0.5rem solid #4caf50;
}

.modal-content.lose {
    border: 0.5rem solid #f44336;
}

#modalVisual img {
    margin: 1rem auto;
}

#modalVisual .hangman {
    transform: scale(0.8);
    padding: 0;
}

#numberOfHints {
    display: none;
    font-size: 1.5rem;
}

#hintsRemaining {
    font-weight: 500;
    color: #5b443f;
}

/* 
color palette
#cdd3d8
#B7C4CF
#EEE3CB
#D7C0AE
#967E76
*/